{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/explore.css' %}">
    <title>explore</title>
</head>
<body>
    <nav class="navigation">
        <h1>cities</h1>
        <ul>
            <a href="">oslo</a>
            <a href="">olden</a>
            <a href="">lisbon</a>
            <a href="">stavanger</a>
            <a href="">flaam</a>
        </ul>
    </nav>
    <h1>Explore</h1>
    <div class="city-data">
        <div city-display>
            <img height="80px" width="80px" src="{% static 'images/ghost.jpeg' %}" alt="city pictures">
            <caption>uploaded 26-june-2024</caption>
        </div>
        <div city-display>
            <img height="80px" width="80px" src="{% static 'images/ghost.jpeg' %}" alt="city pictures">
            <caption>uploaded 26-june-2024</caption>
        </div>
        <div city-display>
            <img height="80px" width="80px" src="{% static 'images/ghost.jpeg' %}" alt="city pictures">
            <caption>uploaded 26-june-2024</caption>
        </div>
        <div city-display>
            <img height="80px" width="80px" src="{% static 'images/ghost.jpeg' %}" alt="city pictures">
            <caption>uploaded 26-june-2024</caption>
        </div>
        <div city-display>
            <img height="80px" width="80px" src="{% static 'images/ghost.jpeg' %}" alt="city pictures">
            <caption>uploaded 26-june-2024</caption>
        </div>
        <div city-display>
            <img height="80px" width="80px" src="{% static 'images/ghost.jpeg' %}" alt="city pictures">
            <caption>uploaded 26-june-2024</caption>
        </div>
    </div>

</body>
</html>