{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/explore.css' %}">
    <title>Authentic Photo Album</title>
</head>
<body>
    <button class="more" ><a href="{% url 'about' %}">More Info</a></button>
    <nav class="navigation">
        <h3>cities</h3>
        <ul>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNavigation()">&times;</a> 
            {% for city in cities %}
                <a href="{% url 'index' city.id %}" class="lcity">{{ city.name }}</a>
                <nav id="pmySidenav" class="pnav">
                    <a href="{% url 'index' city.id %}" onclick="closeNavigation()">{{ city.name }}</a>
                </nav>
                <br>
                <br>
            {% endfor %}
        </ul>
    </nav>
    <!--<a onclick="openNavigation()">CITIES</a>-->    <h1>welcome to <span style="color: orange;">AUTHENTIC PHOTOS </span></h1>
    <h3>Explore</h3>
    <div class="city-data">
        {% for city in cities %}
            <div class="all-city">
                <a href="{% url 'index' city.id %}"><img src="{{ city.image.url }}" alt="photo"></a>
                <div class="text">
                    <p>{{ city.name }}</p>
                    <p>{{ city.country }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="{% static 'javascript/explore.js' %}"></script>
</body>
</html>