{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentic photo albums</title>
    <link rel="stylesheet" href="{% static 'css/homePage.css' %}">
</head>
<body>
    <button class="mode">dark mode</button>
    <div class="intro">
        <h2>Welcome to Authentic Photo Album(-APA-)</h2>
    </div>
    <div class="about">
        <div class="about-mass">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa nulla explicabo nesciunt iusto sequi quas optio quos illum aliquid eos. Natus error vel atque aperiam, aliquid officia laboriosam modi quae.</p>
        </div>
        <div class="tphoto">
            <img height="300px" width="300px" src="{% static 'images/dai.jpg' %}" alt="a picture of Tatenda">
        </div>
    </div>
    <a class="explore" href="">Explore</a>
    <footer>website developed and mantained by the Author</footer>
</body>
</html>