{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentic photo albums</title>
    <link rel="stylesheet" href="{% static 'css/homePage.css' %}">
</head>
<body>
    <div class="intro">
        <h2>Authentic Photo Album(-APA-)</h2>
    </div>
    <div class="about">
        <div class="about-mass">
            <p>Welcome, i have been priveledged with the oppotunity to work on
                cruise ship, i have always enjoy writting code and creating website,
                on that note, i decided why not create a simple platform where i work with professional 
                photographers to share the beautiful, breath taking and wonderful places we got the 
                chance to visit.<br>
                this website is meant to provide you with pictures to use in your designs and to use as 
                you please, 
                but mainly the chance  to see the world and have a glimps of the experience, 
                if you are planning to visit any of the city listed you will have at least an 
                idea of what to expect.
                thank you for exploring!
                <br><br><br>
                For any suggestions and  reccomendations, do not hesitate to email or whatsapp!!.
            </p>
        </div>
    </div>
    <a class="explore" href="{% url 'explore' %}">Explore</a>
    <div class="contact">
        <a href="mailto:katematatenda7@gmail.com">Send Email</a>
        <a href="wa.me:+263785080894">Send WhatsApp</a>
    </div>
    <footer>website developed and mantained by the Author</footer>
</body>
</html>