{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/upload.css' %}">
    <title>create new City</title>
</head>
<body>
    <h1>create new city</h1>
    <div>
        <style>
            h5{
                color: red;
                font-weight: bold;
                text-align: center;
            }
        </style>
        <h5>{{messages}}</h5>
    </div>
    <form method="post" action="">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Enter City name" required>
        <input type="text" name="country" placeholder="Enter the country of the city" required>
        <input type="file" name="image" required >
        <input type="submit">
    </form>
</body>
</html>