@media screen and (min-width: 601px) {
    h1, h3{
        text-align: center;
        color: blueviolet;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bolder;
    }
    .navigation{
        width: 20vw;
        height: fit-content;
        float: left;
    }
    .lcity{
        text-decoration: none;
        border: 1px grey double;
        margin: 10px;
        padding: 5px;
        color: black;
    }

    .city-data{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .all-city{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 30vw;
        height: 40vh;
        border-top-right-radius: 10px;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 14px 26px rgba(0, 0, 0, 0, 0.04);
        transition: all 0.3s ease-out;
        text-decoration: none;
        margin: 5px;
        position: relative;
    }
    .text{
        position: absolute;
        top: 0.5;
        left:0.5;
        color: white;
    }

    .all-city img{
        width: 100%;
        height: 80%;

    }
    button{
        float: right;
    }
}

@media only screen and (max-width: 600px) {

}