@media screen and (min-width: 601px) {
    h1{
        text-align: center;
    }
    .about_city{
        text-align: center;
        width: 50vw;
        margin: 5px auto;
        padding: 0 0 20px 0;
        font-family: monospace;
    }

    .town{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;   
    }

    img{
        height: 60vh;
        width: 40vw;
        object-fit: contain;
    }

    button{
        float: bottom right;
    }
    a{
        text-decoration: none;
        color: black;
    }
}
@media only screen and (max-width: 600px) {
    h1{
        text-align: center;
    }
    .about_city{
        text-align: center;
        width: 70vw;
        margin: 5px auto;
        padding: 0 0 20px 0;
        font-family: monospace;
    }

    .town{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 70vh;
        width: 95vw;
    }
    img{
        height: 60%;
        width: 100%;
        object-fit: contain;
    }

    button{
        float: bottom right;
        background-color: aqua;
    }
    a{
        text-decoration: none;
        color: black;
    }
}