body{
    width: 85vw;
    height: 70vh;
}
h1{
    text-align: center;
}
h5{
    display: none;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    margin: 20px;
    width: 20vw;
}
